.form {
  margin: 0.5em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  textarea {
    height: 60px;
  }
  textarea,
  input,
  label {
    margin: 0.2em 0;
  }
  textarea,
  input {
    padding-left: 0.3em;
  }
  input {
    height: 2em;
  }
  .btn {
    margin-top: 1em;
    width: 50%;
    margin-left: 25%;
    height: 2.2em;
  }
  label {
    font-weight: 700;
  }
}
