.footer {
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  img{
    width: 20%
  }
}
