.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5em;
  margin-top: 2em;
}
.section.projects {
  display: block;
}

.projects-card {
  border-radius: 15px;
  box-shadow: 0 5px 10px var(--shadow-color);
  overflow: hidden;
  text-align: justify;
  &:hover {
    box-shadow: 10px 12px 15px var(--shadow-color);
  }
  .projects-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em 0.8em;
  }
  .img-author {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 5px 10px var(--shadow-color);
    margin-top: 0;
  }
  .projects-title {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    color: var(--text-color);
  }
  .description {
    margin-top: 1em;
    color: var(--text-light);
    letter-spacing: 1px;
    font-size: 1em;
  }
  .link {
    text-decoration: none;
    font-size: 1em;
    margin-top: 1.5em;
    color: var(--primary-color);
    display: inline-block;
    font-weight: 700;
    justify-content: flex-end;
    &:hover {
      text-decoration: underline;
    }
  }
  .stack {
    margin-top: 1.5em;
    color: var(--text-light);
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 700;
  }
  .author {
    margin-top: 1.5em;
    color: var(--text-light);
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 700;
  }
  .repo {
    text-decoration: none;
    font-size: 1em;
    margin-top: 0.5em;
    color: var(--primary-color);
    display: inline-block;
    font-weight: 700;
    justify-content: flex-end;
    &:hover {
      text-decoration: underline;
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  p {
    color: var(--primary-color);
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0.7em;
  }
  .loading {
    margin-top: 1em;
    border-radius: 100%;
    width: 15%;
    align-items: center;
  }
}
