:root {
  --background-color: #fff;
  --background-light: #fff;
  --background-dark: #5e5e5e;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgb(59, 170, 204);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --text-dark: #000;
  --font-size: 1rem;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 3px;
  letter-spacing: 1px;
  box-shadow: 0 3px 6px var(--shadow-color);
  &:hover {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
}

.custom-image {
  /* background-color: aquamarine; */
  height: 0;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img {
  object-fit: cover;
}

@import "partials/_navbar.scss";

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4vw;
  &.d-block {
    display: block;
  }
  .title {
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
  .info {
    color: var(--text-light);
    font-size: 1.2em;
    margin-bottom: 0.8em;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  .col {
    width: 50%;
  }
}

.main {
  padding-block: 3vw;
}
.container {
  padding-inline: 25vw;
}

.navbar {
  .nav-links {
    display: none;
  }
  .sidebar-btn {
    display: block;
  }
}

@import "partials/_settings.scss";
@import "partials/_search-section.scss";
@import "partials/_projects-section.scss";
@import "partials/_footer-section.scss";
@import "partials/_chefs-section.scss";
@import "partials/_quote-section.scss";
@import "partials/_improve-section.scss";
@import "partials/_hero-section.scss";
@import "partials/_animations.scss";



@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 18vw;
  }

}

@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
  .section {
    .col {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 6vw;
  }
  .skill-item {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .section.improve-skills .btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .chef-card {
    box-shadow: 0px 5px 10px var(--shadow-color);
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding-inline: 3vw;
  }
  /* .section {
    flex-direction: column;
    text-align: center;
    .col {
      width: 100%;
    }
  } */
}
