:root {
  --background-color: #fff;
  --background-light: #fff;
  --background-dark: #5e5e5e;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: #0b7fa2;
  --text-color: #0a0a0a;
  --text-light: #575757;
  --text-dark: #000;
  --font-size: 1rem;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 3px;
  letter-spacing: 1px;
  box-shadow: 0 3px 6px var(--shadow-color);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

  &:hover {
    box-shadow: 0 1px 3px var(--shadow-color);
    transform: translateY(-5px);
  }
}

.custom-image {
  /* background-color: aquamarine; */
  height: 0;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img {
  object-fit: cover;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4vw;
  &.d-block {
    display: block;
  }
  .title {
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
  .info {
    color: var(--text-light);
    font-size: 1.2em;
    margin-bottom: 0.8em;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
    &.about-section {
      padding-left: 0.5em;
      font-weight: 400;
    }
  }
  .col {
    width: 50%;
  }
}

.main {
  padding-block: 3vw;
}
.container {
  padding-inline: 25vw;
}

.navbar {
  .nav-links {
    display: none;
  }
  .sidebar-btn {
    display: block;
  }
}

@import "partials/_projects-section.scss";
@import "partials/_contact-form.scss";
@import "partials/_navbar.scss";
@import "partials/_settings.scss";
@import "partials/_search-section.scss";
@import "partials/_footer-section.scss";
@import "partials/_improve-section.scss";
@import "partials/_hero-section.scss";
@import "partials/_animations.scss";

/* @import "partials/_quote-section.scss"; */

@media screen and (max-width: 1280px) {
  .container {
    padding-inline: 18vw;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding-inline: 12vw;
  }
  .section {
    .col {
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 6vw;
  }
  .skill-item {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  .section.improve-skills .btn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .chef-card {
    box-shadow: 0px 5px 10px var(--shadow-color);
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1) {
      grid-column: span 4;
    }
    .footer-section:nth-child(2),
    .footer-section:nth-child(3) {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding-inline: 3vw;
  }
  /* .section {
    flex-direction: column;
    text-align: center;
    .col {
      width: 100%;
    }
  } */
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(30deg) rotateY(-20deg) rotateZ(70deg);
    opacity: 1;
  }
  25% {
    transform: rotateX(15deg) rotateY(0deg) rotateZ(65deg);
    opacity: 1;
  }
  50% {
    transform: rotateX(0deg) rotateY(20deg) rotateZ(60deg);
    opacity: 1;
  }
  75% {
    transform: rotateX(15deg) rotateY(0deg) rotateZ(65deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(30deg) rotateY(-20deg) rotateZ(70deg);
    opacity: 1;
  }
}
.rotate {
  animation: rotate 5s infinite linear;
}

@keyframes bounce {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-direction: alternate;
  /* animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); */
  animation-iteration-count: infinite;
}

.image-mid {
  width: 100%;
  margin-right: 2em;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.image-last {
  width: 80%;
  margin-left: 2em;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.image-intro {
  width: 80% !important;
  margin-left: 2em;
}

.animate--infinite {
  animation-iteration-count: infinite;
}
